.cart-page {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	overflow: scroll;
}

.cart-page::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.cart-card {
	padding: 1.5rem;
}
