section.home .sectionTitle {
	text-transform: uppercase;
	color: wheat;
}

.row {
	padding-top: 2rem;
}

.sectionTitle {
	padding: 10px;
}

.cards-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	padding: 0 15px;
}

.top-rated {
	margin-top: 1.2rem;
}
